<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
      <div class="navbar-header">
          <a href="#" class="navbar-brand">PORTFOLIO</a>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/aboutMe">About me</a></li>
              <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/crud">CRUD</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" appDropdown>
                  <a style="cursor: pointer;" class="dropdown-toggle" routerLink="/acknowledgements">Acknowledgments</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
