.content-container{
  margin: 5px 5px 15px 5px;
  color: #8f9cb5;
  display: flex;
}
.dialog-container1{
  margin-left: auto;
  order: 2;
  font-weight: bolder;
  cursor: pointer;
}
.dialog-container2{
  height: 50px;
  width: 45%;
  color:white;
  border-radius: 0px;
  }

span{
  padding: 0 5px;
}

.dialog-container3{
  height: 50px;
  width: 45%;
  color:white;
  border-radius: 0px;
}

.content-span{
  padding:  35px 16px;
  text-align: center;
  font-size: 20px;
}
.centring-div{
  display:flex;
  justify-content:center;
  align-items:center;
}
