<div class="thumbnail">
  <img src="../../assets/download.webp" class="img-fluid" alt="image" width="100%" height= auto>
  <div class="caption post-content">
      <h1 class="tex" >MANOJ.V</h1>
      <span >Imagination is more important than knowledge</span>
  </div>
</div>
<h2>Career Goals</h2>
<h3>{{ careerGoal }}</h3>
<h2>Technical skills</h2>
<h3>Primary :
  <span class="badge badge-pill badge-primary" *ngFor="let skill of primaryTechnicalSkills">{{ skill }}</span>
</h3>
<h3>Secondary :
  <span class="badge badge-pill badge-primary" *ngFor="let skill of secondaryTechnicalSkills">{{ skill }}</span>
</h3>
<h2 class="work">Work Experience</h2>
<h3><strong>Avaali Solutions Pvt Ltd</strong></h3>
<h3>Associate Consultant: September 2023 - Present</h3>
<ul style="list-style-type:square;">
  <li><h4>Implementing the new design of our web application</h4></li>
  <li><h4>REST API creation for the new application design</h4></li>
  <li><h4>API integration for the new design</h4></li>
</ul>
<h3>Intern: March 2023 - August 2023</h3>
<ul style="list-style-type:square;">
  <li><h4>Fixing application wide pagination issue</h4></li>
  <li><h4>Added spinners to every API(frontend) to ensure user doesn't make unnecessary mulitple API calls</h4></li>
  <li><h4>Ensuring only the past 6 months data is exported as a .csv file</h4></li>
</ul>
<h3><strong>Rubixe</strong></h3>
<h3>Machine Learning Intern: September 2022 - November 2022</h3>
<ul style="list-style-type:square;">
  <li><h4>Global average temperature prediction using Python</h4></li>
  <li><h4>Used AD fuller test on the dataset and came to the conclusion that ARIMA model can be used for the given dataset</h4></li>
  <li><h4>Made predictions about the global average temperature using the given dataset which started from 1750</h4></li>
</ul>
<h2 class="work">Research Experience</h2>
<h3><strong>Jyothy Institute of Technology,Bengaluru</strong></h3>
<h3>Student</h3>
<ul style="list-style-type:square;">
  <li><h4>Under the guidance of Mrs. Prithvi B S we made a research for building a Document Management System</h4></li>
  <li><h4>We had to survey the different departments to understand the requirements of each department</h4></li>
  <li><h4>After comprehending the requirements and going through reviews and plagarism checks we made a publication at IJRPR in May 2023</h4></li>
</ul>
<h4 class="awards"><strong>Grant: </strong>Received a grant from KSCST</h4>
<h2>Education</h2>
<h3>Undergraduate: Jyothy Institute of technology</h3>
<h4 class="cgpa">Graduated June 2023: 8.23/10 CGPA</h4>
