<div class="border">
  <h2>This site is more funcional than meets the eye</h2>
  <h4>{{ body }}</h4>
  <h4>1. Lazy Loading</h4>
  <h4>2. Usage of services</h4>
  <h4>3. CSS: Bootstrap, Bootstrap Icons, Snackbars, Popups</h4>
  <h4>{{ backend }}</h4>
  <h4>Additionally, I am providing links to my other significant projects</h4>
</div>
<div class="containarize">
  <div class="center">
    <button (click)="goToFirstProject()" class="btn btn-primary">Notes Repository</button>&nbsp;&nbsp;
    <button (click)="goToSecondProject()" class="btn btn-primary">Java Springboot project</button>
  </div>
</div>

